* {
    /* CSS HEX */
--deep-space-sparkle: #335c67;
--medium-champagne: #fff3b0;
--indian-yellow: #e09f3e;
--auburn: #9e2a2b;
--rosewood: #540b0e;
--Moss-Green:#75824f;
--Dark-Orange: #ff8811;
--Denim: #2E5EAA;
}

.results-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    margin: 5px 10px 15px 0px;
    box-shadow: 3px 3px 3px lightgray;
}

/* nav bar */
.bg-dark {
    background-color: #e09f3e !important;
}

.navbar-expand .navbar-nav .nav-link{
    padding: 0 1.5rem;

}
.navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.nav-link {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
.jumbotron{
    /* background-image: url("/book.jpeg"); */
    /* background-image: url("../public/book.jpeg"); */
}
h1 {
    color: #ffffff;
    /* font-family: 'Dancing Script', cursive;
     */
     font-family: 'Amatic SC', cursive;
    font-size: 70px;
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

h5 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

h6 {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}
.card {
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 25px;
}

.left.card-body {
    border-radius: 25px 0px 25px 25px;
}

.card-body {
    border-radius: 25px;
}

/* .card-body {
    border-radius: 25px 0px 25px 25px;
} */

.card-subtitle {
    padding-bottom: 30px;
}
/* TODO: Also Change Hover Color */
.add.btn {
    background-color: #75824f;
    border-color: #75824f;
}
.add.btn:hover {
    background-color: #545f33;
    border-color: #545f33;
}

.add.btn:active{
    background-color: #545f33 !important;
    border-color: #545f33;
}

.btn-primary:hover {
    background-color: #ff8811;
    border-color: #ff8811;
}

.btn-primary:active {
    background-color: #ff8811 !important;
    border-color: #ff8811;
}

.read.btn {
    background-color: #8C1A6A;
    border-color: #8C1A6A;
}

.read.btn:hover {
    background-color: #6e0950;
    border-color: #6e0950;
}

.complete.btn {
    background-color: #2E5EAA;
    border-color: #2E5EAA;
}

.complete.btn:hover {
    background-color: #104eb1;
    border-color: #104eb1;
}

.btn-primary {
    background-color: #e09f3e;
    border-color: #e09f3e;
    font-family: 'Barlow', sans-serif;
}

.btn-success {
    background-color: #335c67;
    border-color: #335c67;
    font-family: 'Barlow', sans-serif;
}

.btn-success:hover {
    background-color: #223e46;
    border-color: #223e46;

}
.btn-danger {
    background-color: #9E2A2B;
    border-color: #9E2A2B;
    font-family: 'Barlow', sans-serif;
}

.card-body {
    box-shadow: 5px 5px 5px lightgrey;
}

.text-muted {
    font-family: 'Barlow', sans-serif;
}

input {
    width: 400px;
    border-radius: 10px;
    height: 40px;
}

button {
    margin-left: 10px;
    border-radius: 10px;
    background-color: #75824f;
    color: #ffffff;
    width: 150px;
    height: 40px;
    font-family: 'Barlow', sans-serif;
}

p,li{
    font-family: 'Barlow', sans-serif;
}

.image {
    width: 1000px;
    height: 600px;
}

/* .bg {
    margin: 0 auto;
} */